
<div class="section">

  <!-- SECCION TENDENCIAS -->
  <% if signed_in? && @trending.any? %>
    <h5 class="text-uppercase pt-2">Tendencias</h5>
    <div class="bg-dark-2 mb-4 rounded-3 p-3">
      <div class="row px-3">
        <% @trending.each do |track| %>
          <%= render partial: 'tracks/trending', locals: { track: track } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% 
    track_icon = '<svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" fill="currentColor" class="bi bi-vinyl-fill" viewBox="0 0 16 16">
                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0z"></path>
                  </svg>' 
    post_icon = '<svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
                  <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z"/>
                  <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z"/>
                </svg>'
    skill_icon = '<svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" fill="currentColor" class="bi bi-file-post-fill" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM4.5 3h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5z"/>
                </svg>'
  %>

  <!-- SECCION BOTONES DE PUBLICAR -->
  <div class="d-flex flex-row mb-4 mt-4">
    <div class="col-4 pe-2">
      <%= render partial: 'publish_button', locals: { title: 'Publicar un Track', link: new_track_path, icon: track_icon } %>
    </div>
    <div class="col-4 pe-2">
      <%= render partial: 'publish_button', locals: { title: 'Publicar una Foto', link: new_post_path, icon: post_icon } %>
    </div>
    <div class="col-4">
      <%= render partial: 'publish_button', locals: { title: 'Publicar una Skill', link: new_skill_path, icon: skill_icon } %>
    </div>
  </div>

  <!-- SECCION FEED-POSTS -->
  <% if @feed.any? %>
    <% @feed.each do |f| %>
      <div class="mb-4">
        <% if f.class.name === "Post" %>
          <%= render partial: 'posts/view', locals: { post: f, show: false } %>
        <% else %>
          <%= render partial: 'tracks/view', locals: { track: f, show: false } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= render partial: 'empty_layout' %>
  <% end %>

</div>